
@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    font-family: 'open sans', sans-serif;
    
}

*::selection{
    background-color: darkgray;
    color: rgb(49, 27, 9);
}

img {
    max-width: 300px;
}


header{
    box-sizing: border-box;
    height: 80px;
     
    
    
    background-color: #282525;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 1px 2px 3px #02152578;
    color: white;


    position: fixed;
    width: 100vw;
    padding: 0 100px;

    top: 0;
}

.area-segura {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    
    position: relative;
}

header > .area-segura> h1{
    width: 400px;
    text-align: center;
}

.Logomarca{
    width: 400px;
}
.logo-short{
    width: 50px;
    
}
.img-short{
    width: 50px;
    
}


nav > a {
    text-decoration: none;
    color: white;
}
 nav > a:hover {
    color: #48a8b5;
}


.area-segura > nav{
    justify-content: end;
    display: flex;
    gap: 30px;
    width: 400px;
}

nav.responsiva{
    display: none;
}

main {
    text-align: center;    
    background-color: white;
    max-width: 1300px;
    height: auto;
    margin: 150px auto 0;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    box-shadow: 1px 1px 10px rgb(155, 155, 155);
    padding-bottom: 30px;
    clear: both;
}

main.formulario{
    border-radius: 12px;
}


.primeira-sessao{
    
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    gap: 12px;
    height:500px;
    padding: 70px 0px;  
    max-width: 500px;  
    margin: auto;
    padding: 20px;

    
    
}

.primeira-sessao > img {
    max-width: 100%;
    margin: 20px auto;
}
.primeira-sessao > p{
    max-width: 400px;
    padding-right: 0px;
}

.slogan{
    font-size: 1.7rem;
    max-width: 600px;
    text-align: right;
    font-style: italic;
    
    padding: 20px;
    border-start-start-radius: 30px;
    font-weight: 500;
}



#destaque{
    font-family: 'Archivo black';
    color: #48a8b5;
    font-style: italic;
    font-weight: 900;
}

.banner{

    box-sizing: border-box;

    
    background-image: url(../Imagens/banner-bg.jpg);


    margin-bottom: 30px;
    box-sizing: border-box;
    background-size: cover;

    background-attachment: fixed;
}

.banner img {
    float: right;
    
}

.texto-banner {
    
    color: white;
    display: flex;
    flex-direction: column;
    text-align: left;
    max-width: 700px;

}
.conteudo-bruto-split > img{
    border-radius: 30px;
    
    
}

.imagem-fundo {
    

    background-image: url(../Imagens/background.jpeg);
    background-size: cover;
    background-attachment: fixed;

    box-shadow: inset 70px 70px 80px #0000005d;

    margin: 0 0 40px;
}

.reader {
    box-sizing: border-box;
    background-color: #000000c4;
    padding: 40px;

    min-width: 100%;
    min-height: 100%;
}






.texto-banner > p{
    font-size: 3em;
}

.texto-banner > em{
    margin-top: 24px;
    font-family: 'Archivo Black', sans-serif;
    font-size: 2rem;
    margin-bottom: 24px;
    color: #48a8b5;
}



.botao-conferir {
    background-color: white;
    color: black;
    border-radius: 30px;
    padding: 10px 20px;
    text-align: center;
    max-width: 100px;    
    text-decoration: none;
    font-size: 1.5em;    
    box-shadow: 1px 2px 5px #2b2c2cbb;
}
.botao-conferir:hover {
    background-color: #899394;
}


.conteudo-bruto {
    max-width: 650px;
    margin: 60px auto;
    text-align: left;
    box-sizing: border-box;
    padding: 10px 20px;

    border-bottom: 1px solid;
    border-top: 1px solid;

}
.conteudo-bruto-split {
    max-width: 650px;
    margin: 100px auto;
    text-align: right;
    display: flex;
    gap: 50px;
    align-items: center;
    color: white;
    
}

h2{
    font-size: 28px;
}
.conteudo-bruto > p, ol{
    margin: 20px 0px;
}


#lista-vantagens{    
    font-size: 16px;
    
    
}
#lista-vantagens > li{
    margin: 5px 0px;
}


.campos-de-precos{
    padding: 0 20px;
    max-width: 600px;
    margin: 0 auto;
}

    

.campos-de-precos h2{
    margin-bottom: 20px;
}


.campos-de-precos > table{
    width: 100%;
    margin: auto;
    border-collapse: collapse;
    margin-bottom: 40px;
    
    
}

th, td {
    border-bottom: 1px solid;
    padding: 10px;
}

th {
    color: white;
    background-color: #E84E40;
}



body {
    background-image: linear-gradient(-95deg, #a5dfe7, #dbe5e6);
    background-attachment: fixed;
    background-repeat: no-repeat;
    
}

fieldset {
    border: 0px;
}

.pag-form{
    padding-top: 40px;
    max-width:  700px;
    border-radius: 12px;
    margin-bottom: 40px; 
    
}

.titulo-form {
    font-size: 2.3em;
    color: #48a8b5;
    max-width: 700px;
    margin: auto;
}



.formulario {
    max-width: 700px;
    margin: auto;
}

.dividir-tela{
    max-width: 300px;
    margin: 20px auto 20px auto;
    display: flex;
    gap: 40px;
    justify-content: space-around;
}



.campo {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #48a8b5;
}


.input-campo{
    border-radius: 12px;
    padding: 4px 6px;
    border: 1px solid #48a8b5;
    margin-bottom: 8px;
}

.resposta-novidade{
    margin: 12px;
    display: flex;
    gap: 30px;
    
}

.mensagem-usuario{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    max-width: 360px;
    margin:  30px auto;
    color: #48a8b5;
}

#mensagem{
    resize: none;
    width: 100%;
    border-color: #48a8b5;
    border-radius: 5px;
    max-lines: 5;
}

#mensagem:focus, .input-campo:focus {
    background-color: #f2fbfc;
}


.botao-form{
    border-radius: 12px;
    padding: 5px 10px;
    background-color: white;
    border: 1px solid #48a8b5;
    color: #48a8b5;
    font-size: 1.2em;
}

.botao-form:hover{
    background-color: #f2fbfc;
}



.split-screen {
    display: inline-block;
}


.espacar{
    margin-bottom: 10px;
}


.markers{
    padding: 20px;
    max-width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    border-bottom: 1px solid;
    margin-bottom: 10px;
}

#alinhar{
    text-align: start;
}

footer > p{
    max-width: 500px;
    margin: auto;
    margin-right: 30px;
    color: darkgrey;
}

.backdrop{

    display: none;
    margin: 80px auto 50px;
    float: right;

    background-color: #282525;

    height: 35px;

    border-radius: 0px 0px 0px 30px;
    
}
footer a {
    text-decoration: none;
    color: darkgray;
}
footer a:hover {
    color: #48a8b5;
}



@media (max-width:1200px){

    

    .banner{
        max-height:  10000px;
    }
    .banner img{
        float: none;
        margin: auto;
        margin-bottom: 50px;
    }
    .texto-banner{
        margin: auto;
    }

    header{ 
        border-radius: 0px;
        box-shadow: none;
        
        
        padding: 0 10px;

        
    }
    .area-segura {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .area-segura h1{
        box-sizing: border-box;

        max-width: 300px;
        text-align: center;
    }


    .area-segura > nav {
        display: none;
        
    }

    

    nav.responsiva{
        display: block;
        position: relative;
        max-width: 50px;
        height: 100%;
    }

    .responsiva > img {
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    
    .Logomarca {
        box-sizing: border-box;
        max-width: 50px;
    }

    .responsiva:hover .backdrop{
        
        position: relative;
        
        right: 0;
        top: 25px;
        display: flex;
        position: fixed;
        justify-content: space-around;
        align-items: center;
        gap: 20px;
        padding:20px;
        margin-top: 50px;
    }

}

@media (max-width:690px){
    .conteudo-bruto-split{
        flex-direction: column;
    }
    .conteudo-bruto-split p{
        max-width: 300px;
        
    }
}
